@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Literata:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Literata', serif;
}

:root {
    --primary-color: #FF7392;
    --primary-color-h: #e75776;
    --secondary: #C6FF6A;
    --secondart-h: #a3dd45;
}


.btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: white;
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-color: var(--primary-color-h);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
}

.btn-secondary.cart {
    --bs-btn-color: white;
    --bs-btn-bg: var(--secondary);
    --bs-btn-border-color: var(--secondary);
    --bs-btn-hover-color: var(--secondart-h);
    --bs-btn-hover-bg: var(--secondart-h);
}

.homepagebanner {
    margin-block: 48px;
}

.title-h1 {
    color: #9C2A43;
    font-size: 2.4375rem;
    font-weight: 700;
}

.title-h1-c {
    color: white;
    font-size: 2.4375rem;
    font-weight: 700;
}

.section-p {
    font-weight: 500;
    font-size: 1.6rem;
}

.section-pc {
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
}

.scroll {
    width: 100%;
    overflow-y: auto;
}

.card {
    padding: 0;
}

/* product */


.left-side-product-box img {
    width: 100%;
}

.left-side-product-box .sub-img img {
    margin-top: 5px;
    width: 83px;
    height: 100px;
}

.pro-box-section .pro-box img {
    width: 100%;
    height: 200px;
}

@media (min-width:360px) and (max-width:640px) {
    .pro-box-section .pro-box img {
        height: auto;
    }
}

.h6-selects {
    font-weight: 800;
    font-size: 1.25rem;
}

.btn-add-to-cart {
    color: black;
    font-weight: 800;
    font-size: large;
    background-color: var(--secondary);
}

/*
login css*/

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: #FF7391;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #FF7391;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}