{% extends 'site/base.html' %}
{% block title %}Produtos{% endblock %}
{% block content %}
{% load static %}
<main class="container-fluid  p-3 py-5">
    <div class="container-fluid d-inline-flex justify-content-between align-items-center py-5">
        <div>
            <div>
                <h1 class="title-h1">PESQUISANDO POR CATEGORIA: {{categoria.nome}}</h1>
                <p class="section-p">para quem sabe que merece o melhor</p>
            </div>
        </div>
    </div>
    <div class="container-fluid py-2 scroll">
        <div class="d-flex flex-row flex-wrap gap-5">
            {% for roupa in roupas %}
            <div class="card card-block" style="width: 16rem;">
                <img src="/media/{{roupa.imagem}}" class="card-img-top" style="text-transform:uppercase;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ roupa.nome }}</h5>
                    <p class="card-text">{{ roupa.descricao }}</p>
                    <a href="/produto/{{ roupa.id }}"  class="btn btn-primary">Ver sobre</a>
                </div>
            </div>                
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}